$_header_bg_color: #1d144c;
$_header_text_color: #ffdb23;
$_header_text_hover_color: #f69731;
$_main_text_color: #ffffff;

$_main_color: #242424;
$_main_bg_color: rgba(255, 255, 255, 0.87);
$_header_color: #747bff;
$_header_accent_color: red;
