<section id="aboutus" class="aboutus">
  <h2 class="aboutus-title">About us</h2>
  <h2 class="aboutus-title-mob">About game</h2>
  <p class="aboutus-text">
    Sweet Pop invites you to a colorful world of candy puzzles where players
    match sweets to achieve high scores. With hundreds of levels, each offering
    a unique challenge, it's perfect for players who enjoy vibrant, fast-paced
    puzzle games.
  </p>
  <img
    class="aboutus-img-1"
    src="../img/About us/Realme 10(left-img).png"
    alt="Realme 10"
  />
  <img
    class="aboutus-img-2"
    src="../img/About us/White.png"
    alt="Realme 10 white"
  />
</section>
