<section id="aboutus" class="aboutus">
  <div class="aboutus-container">
    <h2 class="aboutus-title">About us</h2>
    <p class="aboutus-text">
      Sweet Pop invites you to a colorful world of candy puzzles where players
      match sweets to achieve high scores. With hundreds of levels, each
      offering a unique challenge, it's perfect for players who enjoy vibrant,
      fast-paced puzzle games.
    </p>

    <div class="aboutus-images">
      <img
        class="aboutus-img-1"
        src="./img/aboutus/Realme10(left-img).png"
        alt="Realme 10"
      />
      <img
        class="aboutus-img-2"
        src="./img/aboutus/White.png"
        alt="Realme 10 white"
      />
    </div>
  </div>
</section>
