<section id="benefits" class="benefits">
  <h2 class="benefits-title">Benefits</h2>
  <ul class="benefits-list">
    <div class="benefits-list-wrap-1">
      <li class="benefits-list-item">
        <img
          class="benefits-list-item-img"
          src="../img/Benefits/star.png"
          alt="star"
        />
        <p class="benefits-list-item-desc">
          Over 500+ levels <br />
          of candy-<br />matching fun.
        </p>
      </li>

      <li class="benefits-list-item">
        <img
          class="benefits-list-item-img"
          src="../img/Benefits/star.png"
          alt="star"
        />
        <p class="benefits-list-item-desc">
          Eye-catching graphics and addictive<br />
          gameplay.
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          class="benefits-list-item-img"
          src="../img/Benefits/star.png"
          alt="star"
        />
        <p class="benefits-list-item-desc">
          Over 500+ levels<br />
          of candy-<br />
          matching fun.
        </p>
      </li>
    </div>
    <div class="benefits-list-wrap-2">
      <li class="benefits-list-item">
        <img
          class="benefits-list-item-img"
          src="../img/Benefits/star.png"
          alt="star"
        />
        <p class="benefits-list-item-desc">
          Play offline without<br />
          any internet<br />
          connection.
        </p>
      </li>
      <li class="benefits-list-item">
        <img
          class="benefits-list-item-img"
          src="../img/Benefits/star.png"
          alt="star"
        />
        <p class="benefits-list-item-desc">
          Easy to learn, but <br />
          challenging <br />
          to master.
        </p>
      </li>
    </div>
    <div class="benefits-img-wrap">
      <img
        class="candy-img-left"
        src="../img/Benefits/candy left.svg"
        alt="candy left"
      />
      <img
        class="candy-img-right"
        src="../img/Benefits/candy right.svg"
        alt="candy right"
      />
    </div>
  </ul>
</section>
