<section class="faq-section">
  <h2 class="faq-title">Common Questions:</h2>
  <ul class="faq-list">
    <li class="faq-list-item">
      <h3 class="faq-list-item-tittle">How do I start the game?</h3>
      <p class="faq-list-item-desc">Just download and press 'Play'.</p>
    </li>
    <li class="faq-list-item">
      <h3 class="faq-list-item-tittle">What makes Sweet Pop special?</h3>
      <p class="faq-list-item-desc">
        It's the vibrant graphics and unique level design.
      </p>
    </li>
    <li class="faq-list-item">
      <h3 class="faq-list-item-tittle">
        Can I play without an internet connection?
      </h3>
      <p class="faq-list-item-desc">Yes, fully playable offline.</p>
    </li>
    <li class="faq-list-item">
      <h3 class="faq-list-item-tittle">How do I get more lives?</h3>
      <p class="faq-list-item-desc">
        Lives regenerate over time, or you can purchase them.
      </p>
    </li>
  </ul>
</section>
