<footer class="footer">
  <h2>Disclaimer:</h2>
  <h3>
    EPICJOYTIDE.COM IS A PLATFORM FOR ENTERTAINMENT PURPOSES ONLY. THE OUTCOMES
    OF THE GAMES DO NOT REFLECT REAL-WORLD EVENTS. AVAILABLE TO USERS OVER 18
    YEARS OF AGE. PLEASE PLAY RESPONSIBLY.
  </h3>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="./privacy.html" class="nav-link">Privacy policy</a>
      </li>

      <li class="nav-item">
        <a href="./terms.html" class="nav-link">Terms and conditions</a>
      </li>
    </ul>
  </nav>
</footer>
