<section id="gallery" class="gallery">
  <div class="container">
    <h2>Gallery</h2>
    <div class="gallery-carousel">
      <div class="gallery-item">
        <img
          src="../img/gallery/00837390-1f8c-4d57-8091-006353a91576.jpg"
          alt="Image 1"
        />
      </div>
      <div class="gallery-item">
        <img
          src="../img/gallery/1de1e506-cde3-4fc1-af7a-448a3b384109.jpg"
          alt="Image 2"
        />
      </div>
      <div class="gallery-item">
        <img
          src="../img/gallery/2500b362-56de-4999-bdc8-78c9fcd24b70.jpg"
          alt="Image 3"
        />
      </div>
      <div class="gallery-item">
        <img
          src="../img/gallery/41e2e67b-2d1d-44d9-8b40-75d4699d4e75.jpg"
          alt="Image 4"
        />
      </div>
      <div class="gallery-item">
        <img
          src="../img/gallery/46ad3532-d34e-414c-b050-371f2c569580.jpg"
          alt="Image 5"
        />
      </div>
      <div class="gallery-item">
        <img
          src="../img/gallery/71360b3d-e836-496b-abe4-d328392f6a8b.jpg"
          alt="Image 6"
        />
      </div>
      <div class="gallery-item">
        <img
          src="../img/gallery/a058b88f-f9d1-49e5-af22-a804fca2755a.jpg"
          alt="Image 7"
        />
      </div>
    </div>

    <div class="gallery-controls">
      <button class="prev">
        <img src="../img/gallery/arrow.png" alt="Previous" />
      </button>

      <div class="gallery-items">
        <img
          src="../img/gallery/navigation.png"
          alt="Image 1"
          class="gallery-image"
        />
        <img
          src="../img/gallery/navigation 2.png"
          alt="Image 2"
          class="gallery-image"
        />
        <img
          src="../img/gallery/navigation.png"
          alt="Image 3"
          class="gallery-image"
        />
      </div>

      <button class="next">
        <img src="../img/gallery/arrow.png" alt="Next" />
      </button>
    </div>
  </div>
</section>
