<section id="home" class="home">
  <div class="container">
    <!-- Контейнер для лівої картинки -->
    <div class="left-image-container">
      <img
        src="/img/home/льодяник 1.png"
        alt="Left Image"
        class="home-image-left"
      />
    </div>
    <!-- Основний контент -->
    <div class="image-container">
      <img src="/img/home/sweet.png" alt="First Image" class="home-image" />
      <img src="/img/home/Frame 12.png" alt="Second Image" class="home-image" />
    </div>

    <h1>Experience a delightful burst of candy puzzles!</h1>

    <!-- Кнопка Google Play-->
    <div class="image-button-container">
      <a href="https://play.google.com/" class="image-button">
        <img src="/img/home/google.png" alt="Button Image" />
        <div class="text-container">
          <p class="small-text">GET IN ON</p>
          <p class="large-text">Google Play</p>
        </div>
      </a>
    </div>

    <!-- Контейнер для правої картинки -->
    <div class="right-image-container">
      <img
        src="/img/home/льодяник 2.png"
        alt="Right Image"
        class="home-image-right"
      />
    </div>
  </div>
</section>
