<section id="home" class="home">
  <div class="home-container">
    <!-- Контейнер для лівої картинки -->
    <div class="left-image-container">
      <img
        src="./img/home/candyLeft.png"
        alt="Left Image"
        class="home-image-left"
      />
    </div>
    <!-- Основний контент -->
    <div class="image-container">
      <img src="./img/home/Frame 13.png" alt="First Image" class="home-image" />
      <img
        src="./img/home/Frame 12.png"
        alt="Second Image"
        class="home-image"
      />
    </div>

    <h1>Experience a delightful burst of candy puzzles!</h1>

    <!-- Кнопка Google Play-->
    <div class="image-button-container">
      <a
        href="https://play.google.com/store/apps/details?id=com.puzzle1studio.go.sweetpop"
        class="image-button"
      >
        <img src="./img/home/google.png" alt="Button Image" />
        <div class="text-container">
          <p class="small-text">GET IN ON</p>
          <p class="large-text">Google Play</p>
        </div>
      </a>
    </div>

    <!-- Контейнер для правої картинки -->
    <div class="right-image-container">
      <img
        src="./img/home/candyRight.png"
        alt="Right Image"
        class="home-image-right"
      />
    </div>
  </div>
</section>
