<section id="home" class="home">
  <div class="container">
    <div class="image-container">
      <img src="img/Home/sweet.png" alt="First Image" class="home-image" />
      <img src="../img/Home/POP.png" alt="Second Image" class="home-image" />
    </div>
    <h1>Experience a delightful burst of candy puzzles!</h1>
    <div class="image-button-container">
      <a href="link-to-your-page.html" class="image-button">
        <img src="img/Home/Logo Google play.svg" alt="Button Image" />
      <div class="text-container">
        <p class="small-text">Get in on</p>
        <p class="large-text">Google Play</p>
  </div>
</a>

    </div>
</section>
