<section id="howtoplay" class="howtoplay">
  <div class="container">
    <h2 class="howtoplay-title">How to Play</h2>
    <ul class="howtoplay-list">
      <li class="howtoplay-list-item">
        <img
          class="howtoplay-list-item-img"
          src="../img/howtoplay/image 1.png"
          alt="How to play"
        />
        <p class="howtoplay-list-item-desc">
          Match three or more candies to clear them.
        </p>
      </li>
      <li class="howtoplay-list-item">
        <img
          class="howtoplay-list-item-img"
          src="../img/howtoplay/image 2.png"
          alt="How to play"
        />
        <p class="howtoplay-list-item-desc">
          Utilize special candy combinations to create spectacular effects.
        </p>
      </li>
      <li class="howtoplay-list-item">
        <img
          class="howtoplay-list-item-img"
          src="../img/howtoplay/image 3.png"
          alt="How to play"
        />
        <p class="howtoplay-list-item-desc">
          Clear obstacles and meet level goals to progress.
        </p>
      </li>
      <li class="howtoplay-list-item">
        <img
          class="howtoplay-list-item-img"
          src="../img/howtoplay/image 4.png"
          alt="How to play"
        />
        <p class="howtoplay-list-item-desc">
          Collect stars and unlock new levels and features.
        </p>
      </li>
    </ul>
  </div>
</section>
