@import './common/vars.scss';

.aboutus {
  background: $_yellow_text_color;
}

.aboutus-title {
  font-family: Norican;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}

.aboutus-text {
  width: 100%;
  font-family: Signika Negative;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
}

.aboutus-img-1,
.aboutus-img-2 {
  display: none;
}

/* Для ширших екранів (планшети та ПК) */
@media screen and (min-width: 1199px) {
  .aboutus {
    display: flex; /* Встановлюємо Flexbox для контейнера */
    position: relative;
  }

  .aboutus-text {
    width: 472px;
    height: 255px;
    flex-shrink: 0;
  }

  .aboutus-img-container {
    display: flex;
    position: relative;
    width: 593px;
    height: 445px;
    flex-shrink: 0;
  }

  .aboutus-img-1 {
    display: block;
    position: absolute;
    top: 40px;
    right: -15px;
    z-index: 1;
    width: 593px;
    height: 445px;
    flex-shrink: 0;
  }

  .aboutus-img-2 {
    display: block;
    position: absolute;
    top: 200px;
    right: -15px;
    z-index: 2;
    width: 359.438px;
    height: 337.131px;
    flex-shrink: 0;
  }
}
