@import './common/vars.scss';

.aboutus {
  background: $_yellow_text_color;
}

.aboutus-title {
  font-family: Norican;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}

.aboutus-text {
  width: 100%;
  min-width: 279px;
  font-family: Signika Negative;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  text-align: justify;
}

.aboutus-img-1,
.aboutus-img-2 {
  display: none;
}
@media screen and (max-width: 1199px) {
  .aboutus-container {
    min-width: 279px;
    margin: 0 auto;
    padding: 32px 20px;
    position: relative;
    max-width: 1200px;
  }
  .aboutus-images {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .aboutus-container {
    min-width: 320px;
    margin: 0 auto;
    padding: 60px 118px 220px 118px;
    position: relative;
    max-width: 1200px;
  }
  .aboutus-title {
    font-family: Norican;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-bottom: 34px;
  }
  .aboutus-text {
    width: 472px;
    height: 255px;
    flex-shrink: 0;
  }

  .aboutus-img-container {
    display: flex;
    position: relative;
    width: 593px;
    height: 445px;
    flex-shrink: 0;
  }

  .aboutus-img-1 {
    display: block;
    position: absolute;
    top: 90px;
    right: 90px;
    z-index: 1;
    width: 593px;
    height: 445px;
    flex-shrink: 0;
  }

  .aboutus-img-2 {
    display: block;
    position: absolute;
    top: 180px;
    right: 10px;
    z-index: 2;
    width: 362px;
    height: 378px;
    flex-shrink: 0;
  }
}
