.gallery {
  background: $_header_bg_color;
}
.gallery-container {
  min-width: 320px;
  margin: 0 auto;
  padding: 32px 20px;
  position: relative;
  max-width: 1200px;
}
.gallery-title {
  text-align: center;
  margin-bottom: 24px;
  color: $_yellow_text_color;
}

.gallery-carousel {
  position: relative;
  overflow: hidden;
  width: 280px;
  margin: auto;
  padding: 0 20px;
}

.gallery-item {
  display: none;
}

.gallery-item.active {
  display: block;
}

.gallery-item img {
  width: 100%;
  border-radius: 8px;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.gallery-items {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  gap: 17px;
}

.gallery-image {
  width: 30px;
  height: auto;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 44px;
  height: 44px;
}
/* Стилі для великих екранів */
@media (min-width: 1200px) {
  .gallery-container {
    min-width: 320px;
    margin: 0 auto;
    padding: 60px 118px 32px 118px;
    position: relative;
    max-width: 1200px;
  }
  .gallery-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
  }
  .gallery-carousel {
    display: flex;
    width: 964px;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .gallery-item {
    display: none;
    flex: 1;
    transition: transform 0.9s ease, opacity 0.9s ease;
    transform: scale(0.9);
    opacity: 0;
    flex-shrink: 0;
  }

  .gallery-item.active {
    display: block;
    transform: scale(1);
    opacity: 1;
  }

  .gallery-item.prev,
  .gallery-item.next {
    display: block;
    opacity: 0.7;
    transform: scale(0.95);
  }

  .gallery-item.active img {
    transition: transform 0.5s ease;
    width: 275px;
    height: 596px;
    flex-shrink: 0;
    border-radius: 8px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.25);
  }

  .gallery-item.prev img,
  .gallery-item.next img {
    width: 236px;
    height: 509px;
    flex-shrink: 0;
  }

  .gallery-item.active,
  .gallery-item.prev,
  .gallery-item.next {
    display: flex;
    justify-content: center;
  }
}
